@model FriendVM

@{
    ViewData["Title"] = "Friends";
    Layout = "~/Views/Shared/_AccountPageLayout.cshtml";
}

<!-- profile section starts -->
@await Component.InvokeAsync("_Profile", Model.MainUser.Id)
<!-- profile section ends -->

<!-- friends section starts -->
    <section id="userFriends">
            @foreach (AppUser user in Model.FriendUsers)
            {
                <div style="display:block !important;">
                    <p>@user.Id</p>
                </div>
            }

            @foreach (Friend friend in Model.Friends)
            {
                <div style="display:block !important;">
                    <p>@friend.Id</p>
                </div>
            }


        @*@if (Model.Friends.Count() == 0)
        {
            <div id="noFriend">
                <p>Your friends list is empty!</p>
            </div>
        }
        else
        {
            <div>
                @foreach (Friend friend in Model.Friends)
                {
                    <div class="friend">
                        <div>
                            <div>
                                @if (Model.MainUser.CoverPhoto == null)
                                {
                                    <p>Cover Photo</p>
                                }
                                else
                                {
                                    <img src="~/img/@Model.MainUser.CoverPhoto" alt="user's cover image" />
                                }
                            </div>
                            <div>
                                @if (Model.MainUser.ProfilePhoto == null)
                                {
                                    <p>No<br />Photo</p>
                                }
                                else
                                {
                                    <img src="~/img/@Model.MainUser.ProfilePhoto" alt="user's cover image" />
                                }
                            </div>
                        </div>
                        <div>
                            <ul>
                                <li>
                                    <a href="#">@Model.MainUser.Name @Model.MainUser.Surname</a>
                                </li>
                                <li id="friendOptions">
                                    <a href="#"> <i class="fas fa-ellipsis-h"></i> </a>
                                    <ul>
                                        <li> <a href="#">Unfriend</a> </li>
                                        <li> <a href="#">Block</a> </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
        }*@
    </section>
<!-- friends section ends -->