@model PhotoVM
@{
    ViewData["Title"] = "Photos";
    Layout = "~/Views/Shared/_AccountPageLayout.cshtml";
}

<!-- profile section starts -->
@await Component.InvokeAsync("_Profile", Model.user.Id)
<!-- profile section ends -->

<!-- photos section starts -->
<section id="userPhotos">
    <div>
        @foreach (Photo photo in Model.Photos)
        {
            <div class="images">
                <a href="#"> <img src="~/img/@photo.Link" alt="user's photos"> </a>
            </div>
        }
    </div>
</section>
<!-- photos section ends -->

@await  Html.PartialAsync("_MessageBoxPartial", Model.user)

@await  Html.PartialAsync("_PhotoPartial")

@await  Html.PartialAsync("_ProfilePhotoPartial")

@await  Html.PartialAsync("_CoverPhotoPartial")