@model PhotoVM
@{ AppUser user = await _userManager.GetUserAsync(User);}
@{
    ViewData["Title"] = "Photos";
    Layout = "~/Views/Shared/_AccountPageLayout.cshtml";
}

<!-- profile section starts -->
@await Component.InvokeAsync("_Profile", Model.user.Id)
<!-- profile section ends -->

<!-- photos section starts -->
<section id="userPhotos">
    <div>
        @foreach (Photo photo in Model.Photos)
        {
            <div class="images">
                @if(user == photo.user)
                {
                    <a href="#" class="photos"> <img src="~/img/@photo.Link" alt="user's photos"> </a>
                    <form asp-controller="Photo" asp-action="DeletePhoto">
                        <input type="hidden" name="photoId" value="@photo.Id" />
                        <button style="border: thin solid rgb(179, 197, 195); width: 70%; background: transparent; height: 30px; margin: 10px 0 10px 15%; border-radius: 20px;">Delete</button>
                    </form>
                }
                else
                {
                    <a href="#" class="photos"> <img src="~/img/@photo.Link" alt="user's photos"> </a>
                }
            </div>
        }
    </div>
</section>
<!-- photos section ends -->

@await  Html.PartialAsync("_MessageBoxPartial", Model.user)

@await  Html.PartialAsync("_PhotoPartial")

@await  Html.PartialAsync("_ProfilePhotoPartial")

@await  Html.PartialAsync("_CoverPhotoPartial")