@model IEnumerable<AppUser>

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_AccountPageLayout.cshtml";
}

<section id="searchBar">
    @if (Model.Count() == 0)
    {
        <div id="errorMessage">
            <p>Sorry, we couldn't find the user<br /><strong>@ViewBag.Fullname</strong></p>
        </div>
    }
    else
    {
        <div>
        @foreach (AppUser user in Model)
        {
            <div class="searchResult">
                <div class="resultAccount">
                    @if (user.ProfilePhoto == null)
                    {
                        <span>No<br />Photo</span>
                    }
                    else
                    {
                        <img src="~/img/@user.ProfilePhoto" alt="user's profile photo" />
                    }
                    <a href="#">@user.Name @user.Surname</a>
                </div>
                <div class="showProfile">
                    <form asp-action="ShowProfile">
                        <input type="hidden" name="userId" value="@user.Id">
                        <button type="submit">Show Profile</button>
                    </form>
                </div>
            </div>
        }
        </div>
        @if (ViewBag.Quantity > 5)
        {
            <div id="pagination">
                <ul>
                    <li>
                        <a href="#"> <i class="fas fa-angle-left"></i>Previous</a>
                    </li>
                    <li>
                        <a href="#">Next<i class="fas fa-angle-right"></i> </a>
                    </li>
                </ul>
            </div>
         }
    }
</section>