@model AppUser
@{ var user = await _userManager.GetUserAsync(User);}

@{
    ViewData["Title"] = "Timeline";
    Layout = "~/Views/Shared/_AccountPageLayout.cshtml";
}

<!-- profile section starts -->
@await  Component.InvokeAsync("_Profile", Model.Id)
<!-- profile section ends -->

<!-- posts section starts -->
        <section id="posts">
            <div class="post">
                <div>
                    <div id="postOwner">
                        <div>
                            <!-- <p>No<br />Photo</p> -->
                            <img src="~/img/profilePhoto.jpg" alt="post owner's profile photo">
                        </div>
                        <div>
                            <a href="#">Farid Guluzade</a>
                            <p>9 hours ago</p>
                        </div>
                    </div>
                    <div id="postSettings">
                        <a href="#"> <i class="fas fa-ellipsis-h"></i> </a>
                    </div>
                </div>
                <div id="postContent">
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
                </div>
                <div id="postStatistics">
                    <div>
                        <div>
                            <a href="#"> <i class="far fa-thumbs-up"></i> <span>34</span> </a>
                            <a href="#"> <i class="far fa-thumbs-down"></i> <span>4</span> </a>
                        </div>
                        <div>
                            <a href="#"> <i class="far fa-comment-alt"></i> <span>7</span> </a>
                        </div>
                    </div>
                </div>
                <div id="postOptions">
                    <div>
                        <div>
                            <a href="#"> <i class="far fa-thumbs-up"></i>Like</a>
                        </div>
                        <div>
                            <a href="#"> <i class="far fa-thumbs-down"></i> <span>Dislike</span> </a>
                        </div>
                        <div>
                            <a href="#"> <i class="far fa-comment-alt"></i>Comment</a>
                        </div>
                    </div>
                </div>
                <div class="postComments">
                    <div class="comment">
                        <div>
                            <div>
                                <div>
                                    <img src="~/img/profilePhoto.jpg" alt="comment author's profile photo">
                                </div>
                                <div>
                                    <a href="#">Farid Guluzade</a>
                                    <p>3 minutes ago</p>
                                </div>
                            </div>
                            <div class="commentSettings">
                                <a href="#"> <i class="fas fa-ellipsis-h"></i> </a>
                            </div>
                        </div>
                        <div>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugiten, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi en lod nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur adipisci velit en lorem ipsum der.</p>
                        </div>
                    </div>
                    <div class="comment">
                        <div>
                            <div>
                                <div>
                                    <img src="~/img/profilePhoto.jpg" alt="comment author's profile photo">
                                </div>
                                <div>
                                    <a href="#">Farid Guluzade</a>
                                    <p>3 minutes ago</p>
                                </div>
                            </div>
                            <div class="commentSettings">
                                <a href="#"> <i class="fas fa-ellipsis-h"></i> </a>
                            </div>
                        </div>
                        <div>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugiten, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi en lod nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur adipisci velit en lorem ipsum der.</p>
                        </div>
                    </div>
                    <div class="comment">
                        <div>
                            <div>
                                <div>
                                    <img src="~/img/profilePhoto.jpg" alt="comment author's profile photo">
                                </div>
                                <div>
                                    <a href="#">Farid Guluzade</a>
                                    <p>3 minutes ago</p>
                                </div>
                            </div>
                            <div class="commentSettings">
                                <a href="#"> <i class="fas fa-ellipsis-h"></i> </a>
                            </div>
                        </div>
                        <div>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugiten, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi en lod nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur adipisci velit en lorem ipsum der.</p>
                        </div>
                    </div>
                </div>
                <div id="writeComment">
                    <div>
                        <div>
                            <!-- <p>No<br />Photo</p> -->
                            <img src="~/img/profilePhoto.jpg" alt="user's profile photo">
                        </div>
                        <div>
                            <form>
                                <input type="text" id="comment" name="comment" placeholder="Write a comment...">
                                <button type="submit">Comment</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post">
                <div>
                    <div id="postOwner">
                        <div>
                            <!-- <p>No<br />Photo</p> -->
                            <img src="~/img/profilePhoto.jpg" alt="post owner's profile photo">
                        </div>
                        <div>
                            <a href="#">Farid Guluzade</a>
                            <p>9 hours ago</p>
                        </div>
                    </div>
                    <div id="postSettings">
                        <a href="#"> <i class="fas fa-ellipsis-h"></i> </a>
                    </div>
                </div>
                <div id="postContent">
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
                </div>
                <div id="postStatistics">
                    <div>
                        <div>
                            <a href="#"> <i class="far fa-thumbs-up"></i> <span>34</span> </a>
                            <a href="#"> <i class="far fa-thumbs-down"></i> <span>4</span> </a>
                        </div>
                        <div>
                            <a href="#"> <i class="far fa-comment-alt"></i> <span>7</span> </a>
                        </div>
                    </div>
                </div>
                <div id="postOptions">
                    <div>
                        <div>
                            <a href="#"> <i class="far fa-thumbs-up"></i>Like</a>
                        </div>
                        <div>
                            <a href="#"> <i class="far fa-thumbs-down"></i> <span>Dislike</span> </a>
                        </div>
                        <div>
                            <a href="#"> <i class="far fa-comment-alt"></i>Comment</a>
                        </div>
                    </div>
                </div>
                <div class="postComments">
                    <div class="comment">
                        <div>
                            <div>
                                <div>
                                    <img src="~/img/profilePhoto.jpg" alt="comment author's profile photo">
                                </div>
                                <div>
                                    <a href="#">Farid Guluzade</a>
                                    <p>3 minutes ago</p>
                                </div>
                            </div>
                            <div class="commentSettings">
                                <a href="#"> <i class="fas fa-ellipsis-h"></i> </a>
                            </div>
                        </div>
                        <div>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugiten, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi en lod nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur adipisci velit en lorem ipsum der.</p>
                        </div>
                    </div>
                    <div class="comment">
                        <div>
                            <div>
                                <div>
                                    <img src="~/img/profilePhoto.jpg" alt="comment author's profile photo">
                                </div>
                                <div>
                                    <a href="#">Farid Guluzade</a>
                                    <p>3 minutes ago</p>
                                </div>
                            </div>
                            <div class="commentSettings">
                                <a href="#"> <i class="fas fa-ellipsis-h"></i> </a>
                            </div>
                        </div>
                        <div>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugiten, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi en lod nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur adipisci velit en lorem ipsum der.</p>
                        </div>
                    </div>
                    <div class="comment">
                        <div>
                            <div>
                                <div>
                                    <img src="~/img/profilePhoto.jpg" alt="comment author's profile photo">
                                </div>
                                <div>
                                    <a href="#">Farid Guluzade</a>
                                    <p>3 minutes ago</p>
                                </div>
                            </div>
                            <div class="commentSettings">
                                <a href="#"> <i class="fas fa-ellipsis-h"></i> </a>
                            </div>
                        </div>
                        <div>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugiten, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi en lod nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur adipisci velit en lorem ipsum der.</p>
                        </div>
                    </div>
                </div>
                <div class="showMoreComments">
                    <button type="submit">Show More Comments</button>
                </div>
                <div id="writeComment">
                    <div>
                        <div>
                            <!-- <p>No<br />Photo</p> -->
                            <img src="~/img/profilePhoto.jpg" alt="user's profile photo">
                        </div>
                        <div>
                            <form>
                                <input type="text" id="comment" name="comment" placeholder="Write a comment...">
                                <button type="submit">Comment</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- posts section ends -->

@await  Html.PartialAsync("_MessageBoxPartial", Model)

@await  Html.PartialAsync("_PhotoPartial")

@await  Html.PartialAsync("_ProfilePhotoPartial")

@await  Html.PartialAsync("_CoverPhotoPartial")