@model SciCo.Models.AppUser
@{
    ViewData["Title"] = "Timeline";
    Layout = "~/Views/Shared/_AccountPageLayout.cshtml";
}

<!-- main section starts -->
<main>
    <!-- profile section starts -->
    <section id="profile">
        <div id="coverPhoto">
            @if (Model.CoverPhoto == null)
            {
                <p>Cover Photo</p>
            }
            else
            {
                 <a href="#"> <img src="~/img/@Model.CoverPhoto" alt="cover photo" /> </a> 
            }
        </div>
        <div id="options">
            <ul>
                <li>
                    <a asp-action="Timeline" class="active">Timeline</a>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
                <li>
                    <a href="friends.html">Friends</a>
                </li>
                <li id="accountInfo">
                    <ul>
                        <li id="photoItem">
                            @if (Model.ProfilePhoto == null)
                            {
                                <p>Profile<br>Photo</p>
                            }
                            else
                            {
                                <a href="#"> <img src="~/img/@Model.ProfilePhoto" alt="profile photo"> </a>
                            }
                        </li>
                        <li>
                            <a href="#">Farid Guluzade</a>
                        </li>
                        <li>
                            <a href="#">Baku, Azerbaijan</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="photos.html">Photos</a>
                </li>
                <li>
                    <a href="videos.html">Videos</a>
                </li>
                <li id="more">
                    <a href="#" class="button"> <i class="fas fa-ellipsis-h"></i> </a>
                    <ul id="accountOptions" class="subMenu">
                        <li>
                            <a href="#">Send Friend Request</a>
                        </li>
                        <li>
                            <a href="#">Write Message</a>
                        </li>
                        <li>
                            <a href="#">Block Profile</a>
                        </li>
                        <li>
                            <a href="#">Update Profile Photo</a>
                        </li>
                        <li>
                            <a href="#">Update Cover Photo</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>
    <!-- profile section ends -->
</main>
<!-- main section ends -->