@model IEnumerable<FriendRequest>

@if (Model.Count() > 0)
{
    <a href="#" class="button"> <i class="fas fa-user-plus"></i> <span class="blueBack">@Model.Count()</span> </a>
}
else
{
    <a href="#" class="button"> <i class="fas fa-user-plus"></i> </a>
}

@if (Model.Count() == 0)
{
    <div id="requests" class="subMenu">
        <p>There is no friend request</p>
    </div>
}
else
{
    <div id="requests" class="subMenu">
        @foreach (FriendRequest request in Model.ToList())
        {
            <div class="requestSender">
                @foreach (AppUser requestor in ViewBag.Requestors)
                {
                    <div>
                        <div>
                            @if (requestor.ProfilePhoto == null)
                            {
                                <p>No<br />Photo</p>
                            }
                            else
                            {
                                <a href="#"> <img src="~/img/@requestor.ProfilePhoto" alt="profile photo">      </a>
                            }
                        </div>
                        <div>
                            <a href="#">@requestor.Name @requestor.Surname</a>
                        </div>
                    </div>
                }
                <div>
                    <ul>
                        <li>
                            <a href="#" title="Confirm"> <i class="fas fa-user-plus"></i> </a>
                        </li>
                        <li>
                            <a href="#" title="Delete"> <i class="fas fa-user-minus"></i> </a>
                        </li>
                    </ul>
                </div>
            </div>
        }
        @if(Model.Count() > 0)
        {
            <div id="allRequests" class="viewAll blueBack">
                <a href="#" role="button">View All Friend Requests</a>
            </div>
        }
    </div>
}