@{ AppUser user = await _userManager.GetUserAsync(User);}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Oxygen&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>SciCo - @user.UserName</title>
</head>

<body class="account">
    <!-- header starts -->
    <header>
        <div class="logo">
            <a asp-controller="Account" asp-action="Newsfeed"> <i class="fas fa-satellite"></i>SciCo</a>
        </div>
        <div class="form">
            <form asp-controller="Account" asp-action="Search" id="search">
                <div>
                    <input type="search" id="search" name="search" placeholder="Search people or pages..." />
                    <button> <i class="fas fa-search"></i> </button>
                </div>
            </form>
        </div>
        <div id="incoming">
            <ul>
                <li>
                    @await Component.InvokeAsync("_FriendRequests")
                    <div class="subMenu">
                        <i class="fas fa-caret-up"></i>
                    </div>
                </li>
                <li>
                    <a href="#" class="button"> <i class="fas fa-envelope"></i> <span class="pinkBack">2</span> </a>
                    <div id="inbox" class="subMenu">
                        <div class="message">
                            <div>
                                <img src="~/img/profilePhoto.jpg" alt="message sender's profile photo">
                            </div>
                            <div>
                                <p> <a href="#">Farid Guluzade</a> </p>
                                <p> <a href="#">This message was sent for examining the front end of this website.</a> </p>
                            </div>
                        </div>
                        <div class="message">
                            <div>
                                <img src="~/img/profilePhoto.jpg" alt="message sender's profile photo">
                            </div>
                            <div>
                                <p> <a href="#">Farid Guluzade</a> </p>
                                <p> <a href="#">This message was sent for examining the front end of this website.</a> </p>
                            </div>
                        </div>
                        <div class="message">
                            <div>
                                <img src="~/img/profilePhoto.jpg" alt="message sender's profile photo">
                            </div>
                            <div>
                                <p> <a href="#">Farid Guluzade</a> </p>
                                <p> <a href="#">This message was sent for examining the front end of this website.</a> </p>
                            </div>
                        </div>
                        <div class="message">
                            <div>
                                <img src="~/img/profilePhoto.jpg" alt="message sender's profile photo">
                            </div>
                            <div>
                                <p> <a href="#">Farid Guluzade</a> </p>
                                <p> <a href="#">This message was sent for examining the front end of this website.</a> </p>
                            </div>
                        </div>
                        <div class="message">
                            <div>
                                <img src="~/img/profilePhoto.jpg" alt="message sender's profile photo">
                            </div>
                            <div>
                                <p> <a href="#">Farid Guluzade</a> </p>
                                <p> <a href="#">This message was sent for examining the front end of this website.</a> </p>
                            </div>
                        </div>
                        <div class="message">
                            <div>
                                <img src="~/img/profilePhoto.jpg" alt="message sender's profile photo">
                            </div>
                            <div>
                                <p> <a href="#">Farid Guluzade</a> </p>
                                <p> <a href="#">This message was sent for examining the front end of this website.</a> </p>
                            </div>
                        </div>
                        <div class="message">
                            <div>
                                <img src="~/img/profilePhoto.jpg" alt="message sender's profile photo">
                            </div>
                            <div>
                                <p> <a href="#">Farid Guluzade</a> </p>
                                <p> <a href="#">This message was sent for examining the front end of this website.</a> </p>
                            </div>
                        </div>
                        <div id="allMessages" class="viewAll pinkBack">
                            <a href="#" role="button">View All Messages</a>
                        </div>
                    </div>
                    <div class="subMenu">
                        <i class="fas fa-caret-up"></i>
                    </div>
                </li>
                <li>
                    <a href="#" class="button"> <i class="fas fa-bell"></i> <span class="purpleBack">3</span> </a>
                    <div id="notifications" class="subMenu">
                        <div class="notification">
                            <div>
                                <img src="~/img/profilePhoto.jpg" alt="user's profile photo">
                            </div>
                            <div>
                                <p> <a href="#">Farid Guluzade</a> commented on your new profile status.</p>
                                <p> <span>9</span> minutes ago</p>
                            </div>
                        </div>
                        <div class="notification">
                            <div>
                                <img src="~/img/profilePhoto.jpg" alt="user's profile photo">
                            </div>
                            <div>
                                <p> <a href="#">Farid Guluzade</a> commented on your new profile status.</p>
                                <p> <span>9</span> minutes ago</p>
                            </div>
                        </div>
                        <div class="notification">
                            <div>
                                <img src="~/img/profilePhoto.jpg" alt="user's profile photo">
                            </div>
                            <div>
                                <p> <a href="#">Farid Guluzade</a> commented on your new profile status.</p>
                                <p> <span>9</span> minutes ago</p>
                            </div>
                        </div>
                        <div class="notification">
                            <div>
                                <img src="~/img/profilePhoto.jpg" alt="user's profile photo">
                            </div>
                            <div>
                                <p> <a href="#">Farid Guluzade</a> commented on your new profile status.</p>
                                <p> <span>9</span> minutes ago</p>
                            </div>
                        </div>
                        <div class="notification">
                            <div>
                                <img src="~/img/profilePhoto.jpg" alt="user's profile photo">
                            </div>
                            <div>
                                <p> <a href="#">Farid Guluzade</a> commented on your new profile status.</p>
                                <p> <span>9</span> minutes ago</p>
                            </div>
                        </div>
                        <div class="notification">
                            <div>
                                <img src="~/img/profilePhoto.jpg" alt="user's profile photo">
                            </div>
                            <div>
                                <p> <a href="#">Farid Guluzade</a> commented on your new profile status.</p>
                                <p> <span>9</span> minutes ago</p>
                            </div>
                        </div>
                        <div class="notification">
                            <div>
                                <img src="~/img/profilePhoto.jpg" alt="user's profile photo">
                            </div>
                            <div>
                                <p> <a href="#">Farid Guluzade</a> commented on your new profile status.</p>
                                <p> <span>9</span> minutes ago</p>
                            </div>
                        </div>
                        <div class="notification">
                            <div>
                                <img src="~/img/profilePhoto.jpg" alt="user's profile photo">
                            </div>
                            <div>
                                <p> <a href="#">Farid Guluzade</a> commented on your new profile status.</p>
                                <p> <span>9</span> minutes ago</p>
                            </div>
                        </div>
                        <div id="allNotifications" class="viewAll purpleBack">
                            <a href="#" role="button">View All Notifications</a>
                        </div>
                    </div>
                    <div class="subMenu">
                        <i class="fas fa-caret-up"></i>
                    </div>
                </li>
            </ul>
        </div>
        <div id="user">
            <div class="profilePhoto">
                @if (user.ProfilePhoto == null)
                {
                    <p>No Photo</p>
                }
                else
                {
                    <img src="~/img/@user.ProfilePhoto" alt="user's profile photo" />
                }
            </div>
            <ul>
                <li>
                    <a asp-controller="Account" asp-action="Timeline" asp-route-id="@user.Id">@user.UserName</a>
                </li>
                <li id="logOut">
                    <a href="#" class="button"> <i class="fas fa-angle-down"></i> </a>
                    <ul class="subMenu">
                        <li>
                            <a href="#"> <i class="fas fa-sliders-h"></i>Account Settings</a>
                        </li>
                        <li>
                            <a href="#"> <i class="fas fa-book-open"></i>Take Notes</a>
                        </li>
                        <li>
                            <a asp-controller="User" asp-action="LogOut"> <i class="fas fa-sign-out-alt"></i>Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
    <!-- header ends -->

    <!-- left aside starts -->
    @await  Component.InvokeAsync("_LeftAside")
    <!-- left aside ends -->

    <!-- main starts -->
    <main>
        @RenderBody()
    </main>
    <!-- main ends -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/3f7e3de7b3.js" crossorigin="anonymous"></script>
    <script src="~/js/account.js"></script>
</body>
</html>