@{ AppUser user = await _userManager.GetUserAsync(User);}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//code.jivosite.com/widget/C3dEYYNDUh" async></script>
    <link href="https://fonts.googleapis.com/css?family=Oxygen&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>SciCo - @user.UserName</title>
</head>

<body class="account">
    <!-- header starts -->
    <header>
        <div class="logo">
            <a asp-controller="Account" asp-action="Newsfeed"> <i class="fas fa-satellite"></i>SciCo</a>
        </div>
        <div class="form">
            <form asp-controller="Account" asp-action="Search" id="search">
                <div>
                    <input type="search" id="search" name="search" placeholder="Search people or pages..." />
                    <button> <i class="fas fa-search"></i> </button>
                </div>
            </form>
        </div>
        <div id="incoming">
            <ul>
                <li>
                    @await Component.InvokeAsync("_FriendRequests")
                    <div class="subMenu">
                        <i class="fas fa-caret-up"></i>
                    </div>
                </li>
                <li>
                    @await  Component.InvokeAsync("_Message")
                    <div class="subMenu">
                        <i class="fas fa-caret-up"></i>
                    </div>
                </li>
                <li>
                    @await  Component.InvokeAsync("_Notifications")
                    <div class="subMenu">
                        <i class="fas fa-caret-up"></i>
                    </div>
                </li>
            </ul>
        </div>
        <div id="user">
            <div class="profilePhoto" style="overflow: hidden;">
                @if (!(_db.Photos.Any(p => p.user == user && p.isProfilePhoto == true)))
                {
                    <p>No<br />Photo</p>
                }
                else
                {
                    @foreach (string link in _db.Photos.Where(p => p.user == user && p.isProfilePhoto == true).OrderByDescending(p => p.Id).Select(p => p.Link))
                    {
                        <img src="~/img/@link" alt="user's profile photo" />
                    }
                }
            </div>
            <ul>
                <li>
                    <a asp-controller="Account" asp-action="Timeline" asp-route-id="@user.Id">@user.UserName</a>
                </li>
                <li id="logOut">
                    <a href="#" class="button"> <i class="fas fa-angle-down"></i> </a>
                    <ul class="subMenu">
                        <li>
                            <a href="#"> <i class="fas fa-sliders-h"></i>Account Settings</a>
                        </li>
                        <li>
                            <a id="delete" class="button" asp-controller="Account" asp-action="DeleteAccount"> <i class="fas fa-book-open"></i>Delete My Account</a>
                        </li>
                        <li>
                            <a asp-controller="User" asp-action="LogOut"> <i class="fas fa-sign-out-alt"></i>Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
    <!-- header ends -->

    <!-- left aside starts -->
    @await  Component.InvokeAsync("_LeftAside")
    <!-- left aside ends -->

    <!-- main starts -->
    <main>
        @RenderBody()
    </main>
    <div id="popup"></div>
    @await  Html.PartialAsync("_DeleteBoxPartial", user)
    <!-- main ends -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/3f7e3de7b3.js" crossorigin="anonymous"></script>
    <script src="~/js/account.js"></script>
</body>
</html>