<div id="pictureBoxCover">
    <div>
        <p>Select Cover Photo</p>
    </div>
    <div>
        <form name="coverPictureForm" id="coverPictureForm" asp-controller="Photo" asp-action="AddCoverPhoto" enctype="multipart/form-data">
            <div>
                <input type="file" name="firstCoverImage" id="cPhoto" />
                <a href="#" id="changeCoverPhoto"> <i class="fas fa-cloud-upload-alt"></i> </a>
            </div>
            <div>
                <button type="submit">Upload<i class="fas fa-cloud-upload-alt"></i> </button>
            </div>
        </form>
    </div>
    <a href="#" class="close"> <i class="far fa-times-circle"></i> </a>
</div>