<div id="imageModal">
    <a href="#" class="close"> <i class="far fa-times-circle"></i> </a>
    <div>
        <img id="coverImg" />
    </div>
    <div>
        <form name="coverPictureForm" id="coverPictureForm" style="width: 90%; margin: 0 auto;">
            <div style="width: 100%;">
                <input type="file" id="cPhoto" />
                <button type="submit" style="width: 100%;">Delete<i class="fas fa-trash-alt"></i> </button>
            </div>
        </form>
    </div>
</div>