<div id="pictureBox">
    <div>
        <p>Select Photo</p>
    </div>
    <div>
        <p>Photo to upload</p>
        <img id="Img" />
    </div>
    <div>
        <form name="PictureForm" id="PictureForm" asp-controller="Photo" asp-action="AddPhoto" enctype="multipart/form-data">
            <div>
                <input type="file" id="newPhoto" name="image" />
                <a href="#" id="addNewPhoto"> <i class="fas fa-cloud-upload-alt"></i> </a>
            </div>
            <div>
                <button type="submit">Upload<i class="fas fa-cloud-upload-alt"></i> </button>
            </div>
        </form>
    </div>
    <a href="#" class="close"> <i class="far fa-times-circle"></i> </a>
</div>